header{
    height: 80px;
    background-color: #CCBEB8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 78px;
}

body{
    background-color: #FAF8F7;
}

select,option,h1,h2,h3,h4,h5,p,span,legend{
    color:#28231F;
}
.header_menu_group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.admin_search_form, .search_admin{
    width: 910px;
    height: 40px;
    padding: 0 4px;
    box-sizing: border-box;
}

.search_admin{
    height: 100%;
    width: 90%;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    
}
.search_admin input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    border:none;
}

.search_admin input:focus{
    outline: none;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile > img{
    width:40px;
    height: 40px;
}
.mymenu_view_more{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.hidden_mymenu{
    display:none;
   position: absolute;
   top :56px;
   background-color: #fff;
   border: 1px solid #eee9e9;
   border-radius: 16px;
   box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.09);
   z-index: 999;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 16px 24px;
}
.hidden_menu{
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start !important;
    gap: 4px;
    width: 100%;
}
.hidden_mymenu li{
    font-size: 13px;
    font-weight: normal;
    color: inherit;
    width: 100%;
}
.active_mymenu {
    display: flex;
}
.login_btn_nav{
    cursor: pointer;
}

.search_admin button{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.search_admin button img{
    width: 32px;
    height: 32px;
}
main{
    margin-left: 64px;
    padding-left: 16px;
    padding-bottom: 80px
}

aside{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #28231F;
    height:100%;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dashboard_menu_top{
    cursor: pointer;
    height: 80px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CCBEB8;
}
.dashboard_menu_top img{
    width: 24px;
    height: 24px;
}
.dashboard_menu{
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    justify-content: center;
}
.dashboard_menu img{
    width: 24px;
    height: 24px;
}
.total_stastics{
    margin: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    width: 1180px;
    justify-content: space-between;
    gap: 20px;
}

.stastics_content{
    width: 100%;
    background-color: #fff;
    border: 1px solid #CCBEB8;
    border-radius: 16px;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}
.stastics_content h2{
    font-size: 13px;
    font-weight: normal;
    font-family: 'roboto',sans-serif;
}
.stastics_content p{
    font-size: 20px;
    font-family: 'roboto',sans-serif;
    font-weight: 700;
}
.stastics_result{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}
.status{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
}
.status p{
font-size: 13px;
font-weight: normal;
}
.positive{
    color: #6FAB72;
}
.negative {
    color: #C53F3F
}
.chart_ttl_value{
    display: flex;
    flex-direction: row;
    gap: 48px;
}
.chart_background{
    width: 100%;
    height: 280px;
    padding: 20px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
}
#myChart1,#myChart2{
    display: flex
}


.chart_group{
    width: 1180px;
    margin: 32px auto !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.chart1,.chart2{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
.chart{
    width: 48%;
}
.chart_title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}
.chart_title_txt{
    color: inherit;
    size: 13px;
}
.chart_value_txt{
    font-weight: 700;
    font-size: 20px;
    color: inherit
}
select {
    color: #28231F;
    border: 1px solid #CCBEB8;
    border-radius: 8px;
    padding: 8px;
    font-weight: 700;
     outline: none;
}
.table_group{
    margin: auto;
    width: 1180px;
}
.order_list_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
.order_list_title span{
    display: flex;
    align-items: center;
}

.order_list_title span{
    font-size: 20px;
    font-weight: 700;
    height: 32px;
}

.order_list_tb_admin{
    border: 1px solid #CCBEB8;
    border-radius: 16px;
    text-align: center;
    background-color: #fff;
}
table {
    width: 100%;
    border-style: hidden; 
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
}

td,tr,th{
    cursor: pointer;
    text-align: center;
    padding: 12px 16px;
    border-bottom: 1px solid #ccbeb8;
}

.paid,.pending,.cancelled{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-weight: 700;
}

.paid{
    background-color: #8DCD90;
}
.pending{
    background-color: #FFD37C;
}
.cancelled{
background-color: #FE7575;
}

.order_list_sub_ttl{
    padding: 8px 0;
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_list_sub_ttl div{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
.order_list_sub_ttl div span:first-child{
    font-size: 13px;
}
.order_list_sub_ttl div span:nth-child(2){
font-size: 16px;
font-weight: 700;
}

.order_list_sub_ttl span:last-child{
    font-size: 13px;
    cursor: pointer;
}


.pagination_arrow{
    margin: 128px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 24px;
}


.pagination_arrow a{
    width: 24px;
    height: 24px;
}
.pagination {
    gap: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}
.pagination a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 24px;
    height: 24px;
}


.pagiation_number_active{
    background: #34302E;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    color: #fff;
}

.add_items_ttl_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;align-items: center;
    width: 980px;margin: auto;
}
.add_items_btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.add_ttl_category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add_title{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.add_category{
    display: flex;
    flex-direction: column;
}
.post_title{
    padding: 8px;
    border: 1px solid #CCBEB8;
    border-radius: 8px;
}
.faq_col{
    display: flex;
    width: 980px;
    flex-direction: column;
    margin: auto;
}
.sub_title_total{
    margin: 4px 0;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#34302E;
}
.sub_title_total span{
    font-weight: normal;
}
.sub_title_total span:last-child{
    cursor: pointer
}

.hidden_mymenu_panel{
    display:none;
   position: absolute;
   top :144px;
   background-color: #fff;
   border: 1px solid #eee9e9;
   border-radius: 16px;
   box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.09);
   z-index: 999;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   padding: 16px 24px;
   width: 160px;
}
.hidden_menu{
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start !important;
    gap: 4px;
    width: 100%;
}
.hidden_mymenu_panel li{
    font-size: 13px;
    font-weight: normal;
    color: inherit;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.hidden_menu a{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.active_mymenu {
    display: flex;
}

.popup_msg_remove_pd,.popup_msg_confirm{
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 45%;
    margin: auto;
    z-index: 9999;
    width: 340px;
    height: 166px;
    background-color: #fff;
    border: none;
    border-radius: 16px;
    }

.popup_msg_ttl_btn{
    width: 296px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px
}

.overlay_popup{
    position: fixed;
    top:0;
    width: 100%;  
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4.5px);
    z-index: 999;
}
.close_popup{
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    background: url("../images/close_nav.svg");
}

.popup_btn_confirm{
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #CCBEB8;
    border-radius: 100px;
    width: 142px;
    height: 48px;
    color: #8D7E73;
    font-size: 20px;
    text-align: center;
}
.popup_msg_btn_group{
    display: flex;
    width: 296px;
    justify-content: space-between;
}

.popup_btn_cancel{
    cursor: pointer;
    background: #28231F;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    width: 142px;
    height: 48px;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.popup_msg_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}
.popup_msg_group span:first-child{
    color:#C53F3F
}
.popup_msg_group span:last-child{
    font-weight: normal;
    font-size: 15px;
}

.remove_btn{
    border: 2px solid #8D7E73;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 13px !important;
    font-weight: normal !important;
}

.last_td{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px
}
.board_column_layout{
    margin: 56px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 980px;
}

.sub_menu_board{
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: row;
}
.sub_menu_board h3{
    font-size: 16px;
    font-family: 'roboto',serif;
}

.sub_menu_board>div {
    display: flex;
    justify-content: flex-start;
    height: 32px;
    padding: 8px 0;
    border-bottom: 1px solid #CCBEB8;
    align-items: center;
    width: 50%;
}

.total_posts{
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.total_posts>span {
    font-size: 13px;
}

.board_table,.board_table_qna,.board_table_member{
background-color: #fff;
border: 1px solid #CCBEB8;
border-radius: 16px;

}

.board_table_header,.board_table_body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.board_table_header{
    border-bottom: 1px solid #ccbeb8;
}

.board_table_header>div {
    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}

.board_table_body>div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}

.board_table_body>div:first-child,.board_table_header>div:first-child{
font-size: 13px;
    width: 40px;
}
.board_table_body>div:nth-child(2),.board_table_header>div:nth-child(2){
font-size: 13px;
    width: 512px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.board_table_body>div:nth-child(3),.board_table_header>div:nth-child(3){
font-size: 13px;
    width: 120px;
}
.board_table_body>div:nth-child(4),.board_table_header>div:nth-child(4){
    font-size: 13px;
        width: 120px;
    }
.board_table_body>div:last-child,.board_table_header>div:last-child{
    font-size: 13px;
    width: 180px;
}
.add_post_btn{
    background-color: #28231F;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    font-weight: 700;
    font-size: 13px;
}

.board_table_header_qna,.board_table_body_qna{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.board_table_header_qna{
    border-bottom: 1px solid #ccbeb8;
}

.board_table_header_qna>div {
    width: 40px;
    height: 32px;
    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    
}

.board_table_body_qna>div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}

.board_table_body_qna>div:first-child,.board_table_header_qna>div:first-child{
font-size: 13px;
    width: 40px;
}
.board_table_body_qna>div:nth-child(2),.board_table_header_qna>div:nth-child(2){
    font-size: 13px;
        width: 240px;
    }
.board_table_body_qna>div:nth-child(3),.board_table_header_qna>div:nth-child(3){
font-size: 13px;
    width: 330px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.board_table_body_qna>div:nth-child(4),.board_table_header_qna>div:nth-child(4){
font-size: 13px;
    width: 120px;
}
.board_table_body_qna>div:nth-child(5),.board_table_header_qna>div:nth-child(5){
    font-size: 13px;
        width: 120px;
    }
.board_table_body_qna>div:last-child,.board_table_header_qna>div:last-child{
    font-size: 13px;
    width: 102px;
}

.post_setting{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.post_setting_member{
    display: flex;
    flex-direction: row;
    gap: 12px;
}


.board_table_body_group,.board_table_body_qna_group,.board_table_body_member_group{
    display: flex;
    flex-direction: column;
}


.board_table_header_member,.board_table_body_member{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.board_table_header_member{
    border-bottom: 1px solid #ccbeb8;
}

.board_table_header_member>div {
    width: 40px;
    height: 32px;
    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    
}

.board_table_body_member>div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}

.board_table_body_member>div:first-child,.board_table_header_member>div:first-child{
font-size: 13px;
    width: 40px;
}
.board_table_body_member>div:nth-child(2),.board_table_header_member>div:nth-child(2){
    font-size: 13px;
        width: 180px;
    }
.board_table_body_member>div:nth-child(3),.board_table_header_member>div:nth-child(3){
font-size: 13px;
    width: 240px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.board_table_body_member>div:nth-child(4),.board_table_header_member>div:nth-child(4){
font-size: 13px;
    width: 200px;
}
.board_table_body_member>div:nth-child(5),.board_table_header_member>div:nth-child(5){
    font-size: 13px;
        width: 120px;
    }
.board_table_body_member>div:last-child,.board_table_header_member>div:last-child{
    cursor: pointer;
    font-size: 13px;
    width: 190px;
}