.sec5,
.sec6,
.sec7,
.sec8,.sec9,.sec10,.recommended_prod {
    display: flex;
    margin: 64px auto 0;
    position: relative;
    flex-direction: column;
    gap: 40px;
    align-items: center
}
.recommended_prod{
    margin-bottom: 80px;
}
.title_list {
    position: relative;
    display: flex;
}

.cardlist_arrow {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
}

.cardlist {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 1180px;
    overflow: hidden;
}

.sec_title_btn {
    position: relative;
    width: 1180px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.sec_title_btn h3 {
    width: 580px;
    font-size: 40px;
    color: #34302E;
}

.sec_title_btn a {
    width: 100px;
    padding: 12px;
    text-align: center;
    color: #34302E;
    font-weight: 700;
}

.card_details {
    box-sizing: border-box;
    height: auto;
    padding: 8px 0
}


.price_tag{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.product_card,.review_card {
    position: relative;
    width: 280px !important;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    border: 1px solid #EAD4C9;
    border-radius: 16px
}

.product_card > a, .review_card>a{
    height: 100%;
}

.card_title {
    box-sizing: border-box;
    height: auto;
    padding: 8px 12px;
    width: 280px;
    color: #34302E;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 52px;
}

.card_price {
    box-sizing: border-box;
    width: 280px;
    padding: 4px 12px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    gap: 12px
}

.price_title,
.price_value {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content:center
}

.card_tag {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
}

.tag {
    font-size: 13px;
    padding: 4px 8px;
    background: #28231F;
    border: none;
    border-radius: 100px;
    color: #EEE9E9;
}

.pickup {
    padding: 0 12px;
}

.pickup p {
    font-size: 15px;
}
.location_phone{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card_order_btn,.card_order_btn2 {
    cursor: pointer;
    margin: 12px 0 0 12px;
    padding: 12px;
    display: flex;
    width: 164px;
    height: 40px;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    background-color: #28231F;
    gap: 4px
}

.card_order_btn_active,.card_order_btn_active2 {
    cursor: pointer;
    margin: 12px 0 0 12px;
    padding: 12px;
    width: 164px;
    height: 40px;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: #28231F;
    border: none;
    border-radius: 100px;
    display: none;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    gap: 16px
}

.counter_card_order_btn_active,.counter_card_order_btn_active2{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
}

.wishlist {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
    background: url("../images/wishlist.png");
}


.remove_wish {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
    background: url("../images/close_nav.png");
}


.wishlist_added{
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
    background: url("../images/wishlist_added.png");
}


.card_img1,
.card_img2,
.card_img3,
.card_img4,
.card_img5,
.card_img6,
.card_img7,
.card_img8,
.card_img9,
.card_img10,
.card_img11,
.card_img12,
.card_img13,
.card_img14,
.card_img15,
.card_img16,
.card_img17,
.card_img18,
.card_img19,
.card_img20,
.card_img21,
.card_img22,
.card_img23,
.card_img24,
.review_img1,
.review_img2,
.review_img3,.review_img4{
    cursor: pointer;
    box-sizing: border-box;
    z-index: -9999;
    position: relative;
    width: 280px;
    height: 184px;
    border: none;
    border-radius: 16px 16px 0 0;
    height: 100%;
}

/* .card_img1 {
    background: url("../images/card_img5.jpg") no-repeat
} */

.card_img2 {
    background: url("../images/card_img2.jpg")no-repeat
}

.card_img3 {
    background: url("../images/card_img3.jpg")no-repeat
}

.card_img4 {
    background: url("../images/card_img4.jpg")no-repeat
}

.card_img5 {
    background: url("../images/card_img5.jpg")no-repeat
}

.card_img6 {
    background: url("../images/card_img15.png")no-repeat
}

.card_img7 {
    background: url("../images/card_img7.png")no-repeat
}

.card_img8 {
    background:url("../images/card_img8.png")no-repeat
}

.card_img9 {
    background:url("../images/card_img9.png")no-repeat
}

.card_img10 {
    background:url("../images/card_img10.png")no-repeat
}

.card_img11 {
    background:url("../images/card_img11.png")no-repeat
}

.card_img12 {
    background:url("../images/card_img16.png")no-repeat
}

.card_img13{
    background:url("../images/card_img13.png")no-repeat
} 

.card_img14 {
    background:url("../images/card_img14.png")no-repeat
}

.card_img15 {
    background:url("../images/card_img15.png")no-repeat
}

.card_img16 {
    background:url("../images/card_img16.png")no-repeat
}

.card_img17 {
    background:url("../images/card_img17.png")no-repeat
}

.card_img18 {
    background:url("../images/card_img4.png")no-repeat
}

.card_img19 {
    background:url("../images/card_img19.png")no-repeat
}

.card_img20 {
    background:url("../images/card_img20.png")no-repeat
}

.card_img21 {
    background:url("../images/card_img21.png")no-repeat
}

.card_img22 {
    background:url("../images/card_img22.png")no-repeat
}

.card_img23 {
    background:url("../images/card_img23.png")no-repeat
}

.card_img24 {
    background:url("../images/card_img3.png")no-repeat
}


.sec9{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.sec9 img{
    border-radius: 16px;
    width: 580px;
}

.location{
    margin: auto;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    width: 1180px;
    justify-self: center;
    gap: 118px
}

.location_title_btn{
    display: flex;
    width: 482px;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
}

.location_details{
    display: flex;
    flex-direction: column;
    gap: 16px
}
.location_address{
    display: flex;
    flex-direction: column;
    gap: 8px
}

.location_title_btn h3{
    font-size: 40px;
    color: #34302E;
}
.location_title_btn h4{
    font-size: 20px;
    color: #34302E;
    font-family: 'roboto';
}

.location_title_btn p{
    color: #4D4642;
    font-size: 15px;
}


.location_title_btn a{
    padding: 12px 16px;
    box-sizing: border-box;
    border: none;
    background: #28231F;
    border-radius: 100px;
    text-align: center;
    width: 280px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.review_card{
    width: 50px;
}
.review_details{
    display: flex;
    width: 280px;
    flex-direction: column;
}

.review_title p{
    width:280px;
    display: flex;
}


.add_to_bag_btn{
    cursor: pointer;
    box-sizing: border-box;
    margin:12px 0 0 12px;
    border: 2px solid #28231F;
    color: #28231F;
    font-weight: 700;
    width: 164px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    gap: 4px
}

.cardlist_row {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 866px;
    overflow: hidden;
    flex-wrap: wrap;
}